<form [formGroup]="productProfileForm" (ngSubmit)="onSubmit2()">
  <div>
      <label for="first-name">รหัสสินค้า: </label>
      <input id="first-name" type="text" formControlName="c1" value="1">
  </div>
  <div>
      <label for="first-name">ชื่อสินค้า: </label>
      <input id="first-name" type="text" formControlName="c2" value="2">
  </div>
  <div>
      <label for="first-name">ภาพ: </label>
      <input id="first-name" type="text" formControlName="c3" value="3">
  </div>
  <div>
      <label for="first-name">หมวด: </label>
      <input id="first-name" type="text" formControlName="c4" value="4">
  </div>
  <div>
      <label for="first-name">ราคาขาย: </label>
      <input id="first-name" type="text" formControlName="c5" value="5">
  </div>
  <div>
      <label for="first-name">ราคาต้นทุน: </label>
      <input id="first-name" type="text" formControlName="c6" value="6">
  </div>
  <div>
      <label for="first-name">....: </label>
      <input id="first-name" type="text" formControlName="c7" value="7">
  </div>                
  <div>
      <label for="first-name">....: </label>
      <input id="first-name" type="text" formControlName="c8" value="8">
  </div> 
  <div>
      <label for="first-name">....: </label>
      <input id="first-name" type="text" formControlName="c9" value="9">
  </div>     
  <button type="submit" [disabled]="!productProfileForm.valid">Onsubmit2()</button>
</form>

<button type="button"(click)='getProducts2()'>getProducts2()</button>
<table>
  <thead>
  <tr>
      <th>name</th><th>city</th><th>country</th><th>name</th><th>city</th><th>country</th><th>name</th><th>city</th><th>country</th>
  </tr>
</thead>
  <tbody>
  @for (x of products$; track x.productCode) {
      <tr>
      <td>{{ x.productCode }}</td>
      <td>{{ x.productName }}</td>
      <td>{{ x.productLine}}</td>
      <td>{{ x.productScale }}</td>
      <td>{{ x.productVendor }}</td>
      <td>{{ x.productDescription}}</td>
      <td>{{ x.quantityInStock }}</td>
      <td>{{ x.buyPrice }}</td>
      <td>{{ x.MSRP}}</td>                
      </tr>
  }
  </tbody>
</table>